.callToAction {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.subscribeButton {
    width: 100%;
   background-color:  rgba(239, 134, 63, 1.0);
   color: white;
}

.subscribeButton:hover {
    background-color: orange !important;
    color: white;
}