.callToAction {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 50px solid beige;
    border-bottom: 40px solid beige;
    background-color: beige
}

.subscribeButton {
    width: 100%;
   background-color:  rgba(239, 134, 63, 1.0);
   color: white;
}

.subscribeButton:hover {
    background-color: orange !important;
    color: white;
}