.topBanner {
    border-bottom: 0px solid #8A9099;
    display: flex;
    justify-content: center;
    background-color: #F5F6F7;
    box-shadow: 0 4px 2px -2px black;
    height: 500px;
    
}

.heroBannerDiv {
   padding-right: 0px;
   border: 1px solid grey;
   padding-left: 0px;
   margin-bottom: 5px;
}

.heroBanner {
    background-image: url("/MangaImages/manga2.jpg");
    width: 100%;
    height: 100%;
    background-size: 900px 700px;
    background-repeat: no-repeat;
}

.imageTower {
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
    border: 4px solid var (--jaffa);
    width: 410px;
    border: 1px solid lightgrey;
    margin-bottom: 5px;
}

.topImage {
    display: flex;
    background-image:url("/MangaImages/narutobannerbetter.jpg");
    background-size: 408px 160px;
    width: 100%;
    height: 32%;
    background-repeat: no-repeat;
}

.secondImage { 
    background-image: url("/MangaImages/bleach.jpg");
    background-size: 408px 175px;
    width: 100%;
    height: 33%;
    background-repeat: no-repeat;
}

.thirdImage {
   background-image: url("/MangaImages/blackclover.jpg");
   background-size: 408px 180px;
   width: 100%;
   height: 35%;
   background-repeat: no-repeat;
}

.backgroundsideImages {
    display: flex;
    background:rgba(238, 222, 197, 0.2);
    height: 100%;
    width: 100%;
    align-self: end;
    align-items: end;
}

.backgroundsideImages a {
    display: inline-block;
    color: white;
    text-decoration: wavy !important;
    opacity: none;
    font-size: 45px;
    background-color: rgba(239, 134, 63, .65);
    height: 35%;
    padding: 4px;
    border: 1px solid white
}

.backgroundsideImages h4 {
    margin-bottom: 0px;
}

.backgroundsideImages a:hover {
    color: orange;
    transition: color 0.5s;
}