.navbarList {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.navbarList li a {
    text-decoration-style: wavy !important;
    text-decoration-color: black;
    color:  #353535;
   /* color: rgba(239, 134, 63, 1.0); */
}

.navbarList li a:hover {
 color: rgba(239, 134, 63, 1.0);
  transition: color 0.5s;
}

.navbarTitle {
    text-decoration: none;
    color:  rgba(239, 134, 63, 1.0);
    -webkit-text-stroke: 1px white;
}

.navBar {
    border-bottom: 1px solid #8A9099;
    background-color: #ededed;
    margin-bottom: 4px;
}