.swiperslide img {
    width: 200px;
    height: 300px;
    border: 5px solid lightgrey;
    transition-timing-function: linear;
}



.swiperslide img:hover {
    width: 225px;
    height: 325px;
    transition: width 0.5s, height 0.5s;
    border-color: rgba(239, 134, 63, 1.0);
}


