@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: SugarBomb;
    src: url("./font folder/SugarBomb-EapEW.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Yokelvision;
    src: url("./font folder/Yokelvision-J6yx.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OnePiece; 
    src: url("./font folder/OnePiece-zAqL.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MasterExtrude Komika; 
    src: url("./font folder/MasterKomikaExtrude-m2poP.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Master Komika; 
    src: url("./font folder/MasterKomika-dr03K.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Yeyey;
    src: url("./font folder/Yeyey-1pK2.otf");
    font-weight: lighter;
    font-style: normal;
}


h1, h2, h3 {
    font-family: SugarBomb !important;
}

h4, h5, h6 {
    font-family: Master Komika !important;
}

p {
    font-family: Yeyey;
}


.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: lightgray;
}

.footer p {
    position: relative;
    right: -15px;
    top: 5px;
    color: black;
}

.contact {
    position: relative;
    right: -16px;
    top: 11px;
    color: black;
}

.listing ul {
    position: relative;
    right: -1100px;
    top: -150px;
}

.listing p {
    position:  relative;
    right: -1050px;
    top: -116px;
}

.listing img {
    position: relative;
    right:-400px;
    top: 30px;
}

.listing button {
    position: relative;
    right: -1075px;
    top: -150px;
}

.listing h3.title {
    position: relative; 
    right: -620px;
    top: -275px;
}

.listing h3.format {
    position: relative;
    right: -620px;
    top: -230px;
}

.listing h3.publish {
    position: relative;
    right: -620px;
    top: -50px;
}

.authform {
    text-align: center;
       align-items: center;
           justify-content: center;
               background: linear-gradient(#424549,  #36393E, #282B30,  #1E2124);
}

.searchbar {
    position: relative;
    right: -1000px;
    top: -10px;
}

.search-btn {
    position: relative;
    right: -1000px;
    top: -10px;
}

.searchpage {
    background-color: black;
}

.searchpage input {
    top: -116px;
}

/*.topnav title {
    text-decoration: none;
} */

.swiper-wrapper {
    transition-timing-function: linear !important;
}